<div class="card">
    <h2 *ngIf="!success">Be part or our community!</h2>
    <h2 *ngIf="success">Almost there!</h2>
    <form [formGroup]="signupForm" (ngSubmit)="submit()">
        <div class="form-content">
            <div class="form-group" *ngIf="!success">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="cool_username" formControlName="username">
                <p class="message-error" *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched">Username is required</p>
            </div>
            <div class="form-group" *ngIf="!success">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="your@email.com" formControlName="email">
                <p class="message-error" *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">Inform a valid email</p>
            </div>
            <div class="form-group" *ngIf="!success"> 
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password">
                <p class="message-error" *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">Password is required</p>
            </div>
            <div class="form-group" *ngIf="!success">
                <label for="passwordConfirmation">Password Confirmation</label>
                <input type="password" id="passwordConfirmation" formControlName="passwordConfirmation">
                <p class="message-error" *ngIf="signupForm.get('password')?.value !== signupForm.get('passwordConfirmation')?.value">Passwords don't match</p>
            </div>
            <div class="form-result">
                <p class="message-error" *ngIf="error">{{errorMessage}}</p>
                <p class="message-success" *ngIf="success">{{successMessage}}</p>
                <img class="loading" src="../../../../assets/gifs/loading.gif" *ngIf="loading" alt="Loading...">
            </div>  
            <div class="form-submit" *ngIf="!success">
                <input class="btn" type="submit" value="Sign Up" [disabled]="!signupForm.valid" [ngClass]="{'btn-blue': signupForm.valid}">
            </div>
        </div>
    </form>
</div>