<div class="card">
    <h2>Welcome again!</h2>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="form-content">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="cool_username" formControlName="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="" formControlName="password">
            </div>
            <div class="form-submit">
              <input class="btn" type="submit" value="Log In" [disabled]="!loginForm.valid" [ngClass]="{'btn-blue': loginForm.valid}">
            </div>
        </div>
    </form>
</div>
