<div class="card">
    <h2>Welcome!</h2>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="form-content">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="cool_username" formControlName="username">
                <p class="message-error" *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">Username is required</p>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password">
                <p class="message-error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">Password is required</p>
            </div>
            <div class="form-result">
                <p class="message-error" *ngIf="errorMessage !== ''">{{errorMessage}}</p>
                <img class="loading" src="../../../../assets/gifs/loading.gif" *ngIf="loading" alt="Loading...">
            </div>            
            <div class="form-submit">
              <input class="btn" type="submit" value="Log In" [disabled]="!loginForm.valid" [ngClass]="{'btn-blue': loginForm.valid}">
            </div>
        </div>
    </form>
</div>
