<header>
  <div class="header-container">
    <div class="header-components">
      <a href="">
        <img src="../../assets/images/pato_logo.png" alt="Pato Logo">
      </a>
      <div class="actions" *ngIf="authService.usernameSignal()">
        <a class="username light-text" [routerLink]="['/users', authService.usernameSignal()]">{{authService.usernameSignal()}}</a>
        <a class="btn btn-blue" [routerLink]="['/post']">Create Post</a>
        <a class="btn btn-gray" [routerLink]="['/posts/reviews']" *ngIf="authService.roleSignal() === 1">Reviews</a>
        <a class="btn btn-gray" (click)="logout()">Log Out</a>
      </div>
      <div class="actions" *ngIf="authService.usernameSignal() === null">
        <a class="btn btn-gray" [routerLink]="['/login']">Log In</a>
        <a class="btn btn-blue" [routerLink]="['/signup']">Sign Up</a>
      </div>
    </div>    
  </div>
</header>
<div class="container">
  <div class="container-components">
    <router-outlet></router-outlet>
  </div>
</div>