<article class="card">
    <h1 class="title">Recent submitted posts</h1>
    <img class="loading" style="margin: auto;" src="../../../../assets/gifs/loading.gif" *ngIf="loading" alt="Loading...">
    <table *ngIf="!loading">
        <tr>
            <th>Post</th>
            <th>Username</th>
            <th>Status</th>
            <th>Creation</th>
        </tr>

        @for (post of postsReviews; track $index) {
            <tr>
                <td><a [routerLink]="['/posts', post.id, 'reviews']">{{post.title}}</a></td>
                <td>{{post.username}}</td>
                <td>{{post.status | reviewStatusPipe}}</td>
                <td>{{post.creationDate | date:'short'}}</td>
            </tr>
        }
    </table>
</article>