.card{
    max-width: 90rem;
}

table{
    margin-right: auto;
    margin-left: auto;
    width: 100%;

    th{
        text-align: left;
    }
    
    th, td{
        padding: .7rem;
        width: 20%;

        a{
            font-weight: bold;
            color: #333;
        }
    }
}