@import '../../../variables';

.interaction{        
    flex-direction: column;

    button{
        margin: 1rem 0 .5rem 1rem;
    }

    .likes{
        margin: 2rem 0;
    }

    .comments{
        .comment-content{
            margin: 1rem;
            padding: 1rem;
            background-color: $light-gray;
            border-radius: 1rem;
        }

        .comment{
            margin: .5rem 2.4rem;
        }
    }

    .new-comment{
        padding: 1rem;
        margin: 1rem;
        background-color: $light-gray;

        textarea{
            padding: .5rem;
            resize: none;
        }
    }
}

.form-buttons{
    input{
        margin: 1rem 1rem;
    }
}