@import '../../../variables';

.card{
    max-width: 90rem;
    
    .post{
        .post-img{
            margin: 1rem 0;
            height: 20rem;
            width: 100%;
            object-fit: cover;
            border: 1rem;
        }
    
        .info-user-date img{
            cursor: pointer;
        }
    
        .post-content{
            margin: 2rem 1rem;
            color: $dark-gray;     
        }     
        
    }    
}
