
<article class="card">
    <div class="post">
        <img class="post-img" [src]="post.postImageContentSafe" alt="Post image" *ngIf="post.postImageContentSafe">
        <div class="info-user-date">
            <img [src]="post.user.profileImageContentSafe" alt="User profile image" [routerLink]="['/users', post.user.username]">
            <div class="user-info">
                <a href="#" class="light-text" [routerLink]="['/users', post.user.username]">{{post.user.username}}</a>
                <p class="light-text small">{{date | date}}</p>
            </div>
        </div>
        <div class="post-info">
            <h1>
                {{post.title}}
            </h1>
            <a href="#" class="light-text small">{{post.category.name}}</a>
            <div class="post-content" [innerHTML]="post.content"></div>

            <ng-content></ng-content>

        </div>
    </div> 
</article>