<h1>Most Recent</h1>
<article class="card" *ngFor="let post of posts">
    <div class="info-user-date">
        <img [src]="post.User?.ProfileImageContentSafe" alt="User profile image">
        <div class="user-info">
            <a href="#" class="light-text">{{post.User?.Username}}</a>
            <p class="light-text small">{{post.PublishDate | date}}</p>
        </div>
    </div>
    <div class="info-post">
        <h1>
            <a [routerLink]="['/post', post.Id]">{{post.Title}}</a>
        </h1>
        <a href="#" class="light-text small">{{post.Category?.Name}}</a>
        <div class="interaction">
            <div class="likes">
                <fa-icon class="blue" [icon]="faLikes"></fa-icon>
                {{post.LikesCount}}
            </div>
            <div class="likes">
                <fa-icon class="blue" [icon]="faComments"></fa-icon>
                {{post.CommentsCount}}        
            </div>
        </div>      
    </div>
</article>