/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'variables';

//strucutural
*{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: $light-gray;
}

header{
    padding: 1rem;
    border-bottom: 1px solid #dbdbdb;
    background-color: $white;

    img{
        width: 32px;
        height: 32px;
        margin-top: .3rem;
    }

    .header-container{
        max-width: 1200px;
        height: 100%;
        margin: auto;
    }

    .header-components{
        display: flex;
        justify-content: space-between;
        margin: auto;
    }

    .actions{
        display: flex;
        align-items: center;

        a{
            margin: .1rem;
        }
    }
}

.container{
    max-width: 1200px;
    height: 100%;
    margin: auto;
}

.container-components{
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    padding: 1rem;
}

//colors
.blue{
    color: $blue;
}

//text
h1{
    color: $black;
}

.no-content{
    margin-top: 1rem;
    color: $dark-gray;
    text-align: center;
}

.light-text{
    margin: .3rem 0;
    color: #303030;
}

.small{
    font-size: small;
}

.center{
    text-align: center;
}

//btn
.btn{
    height: auto;
    cursor: pointer;
    border: none;
    border-radius: .2rem;
    font-weight: bold;
    padding: .5rem;
}

.btn-blue{
    border: 1px solid $blue;
    color: $blue;

    &:hover{
        color: $white;
        background: $blue;
    }
}

.btn-gray{
    border: 1px solid $light-gray;
    background: $white;
    color: $black;

    &:hover{
        background: $light-gray;
    }
}

//cards
.card{
    margin-top: 1rem;
    padding: 1rem;
    max-width: 90rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background: $white;
    border-radius: .5rem;

    h1{
        font-size: 2rem; 

        a{
            color: $black;
        }
    }

    .post{
        .info-user-date{
            display: flex;
            align-items: center;
    
            img{
                width: 32px;
                height: 32px;
                border-radius: 100%;
                margin-right: .5rem;
                object-fit: cover;
                cursor: pointer;
            }
        }
    
        .post-info{
            margin: .8rem;
            margin-left: 2.4rem;
        }
    
        .interaction{
            display: flex;
            margin-top: 1rem;
    
            div{
                margin-right: 1rem;
            }
        }
    }
    
}

//form
.form-group{
    display: flex;
    flex-direction: column;
    margin: 1rem;

    label{
        font-weight: bold;
        margin-bottom: .5rem;
    }

    input{
        padding: .5rem;
        border: none;
        font-weight: bold;
        background-color: $light-gray;
        border-radius: 1px;

        &:focus{
            outline: none;
            border-bottom: .5px solid $blue;
        }
    }
}

.form-submit{
    padding: 1rem;
    input[type=submit]{
        display: block;
        margin: auto;
    }
}

.form-result{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
}

.message-error{
    margin: .5rem 0;
    font-size: 12px;
    color: rgb(216, 31, 31);
}

.message-success{
    margin: .5rem 0;
    font-size: 12px;
    color: rgb(52, 202, 47);
}

.disabled{
    opacity: 0.5;
}

.loading{
    width: 32px;
    height: 32px;
}

.response-status{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    color: $dark-gray;
}